h1,
p {
  font-family: Lato;
}
.outer {
  border: 1px solid black;
  border-color: black;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.inner {
  background-color: blue;
  padding: 5px;
  text-align: right;
  transition: 0.5s ease-in;
}
